/*=$=________///////////////__==Ги опфаќа сите елементи==__\\\\\\\\\\\\\\\________=$=*/
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
    }
/*=$=________///////////////__==Ги опфаќа сите елементи==__\\\\\\\\\\\\\\\________=$=*/

/*=$=________///////////////__==Позадина на екранот/страницата==__\\\\\\\\\\\\\\\________=$=*/
    body{
        background-color:  #24292E;
    }
/*=$=________///////////////__==Позадина на екранот/страницата==__\\\\\\\\\\\\\\\________=$=*/

/*=$=________///////////////__==Контејнер шо го содржи целиот контент==__\\\\\\\\\\\\\\\________=$=*/
    .container{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        justify-content: center;
        align-items: center;
    }
/*=$=________///////////////__==Контејнер шо го содржи целиот контент==__\\\\\\\\\\\\\\\________=$=*/

/*=$=________///////////////__==Насловче со цифра==__\\\\\\\\\\\\\\\________=$=*/
    h3{
        color: #fff;
        text-decoration: underline;
    }
/*=$=________///////////////__==Насловче со цифра==__\\\\\\\\\\\\\\\________=$=*/

/*=$=________///////////////__==Наслов за проектот==__\\\\\\\\\\\\\\\________=$=*/
    h1{
        color: #fff;
        font-size: 55px;
        margin-bottom: 40px;
    }
/*=$=________///////////////__==Наслов за проектот==__\\\\\\\\\\\\\\\________=$=*/

/*=$=________///////////////__==Лабела==__\\\\\\\\\\\\\\\________=$=*/
    label{
        position: relative;
    }
/*=$=________///////////////__==Лабела==__\\\\\\\\\\\\\\\________=$=*/

/*=$=________///////////////__==Инпут за да внесуваме пораки==__\\\\\\\\\\\\\\\________=$=*/
    input{
        padding: 15px;
        min-width: 550px;
        max-width: 1420px;
        background: none;
        border: 1px solid #A4A4A4;
        border-radius: 5px;
        color: #ffffff;
        font-size: 20px;
    }
/*=$=________///////////////__==Инпут за да внесуваме пораки==__\\\\\\\\\\\\\\\________=$=*/

/*=$=________///////////////__==Копче за да ги печатиме пораките==__\\\\\\\\\\\\\\\________=$=*/
    #add{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        margin: 2px;
        width: 100px;
        background-color: #F0440A;
        color: #FFFFFF;
        font-weight: bold;
        border: none;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        cursor: pointer;
    }
/*=$=________///////////////__==Копче за да ги печатиме пораките==__\\\\\\\\\\\\\\\________=$=*/

/*=$=________///////////////__==Контејнер шо ќе го содржи контејнерот за пораки и копчето за бришење на истите==__\\\\\\\\\\\\\\\________=$=*/
    #messageAndRemove{
        background-color: #2B3137;
        min-width: 550px;
        max-width: 1420px;
        padding: 30px;
        border-radius: 5px;
        margin-top: 20px;
    }
/*=$=________///////////////__==Контејнер шо ќе го содржи контејнерот за пораки и копчето за бришење на истите==__\\\\\\\\\\\\\\\________=$=*/

/*=$=________///////////////__==Контејнер шо ќе ги содржи испишаните пораки и копчето за бришење на истите==__\\\\\\\\\\\\\\\________=$=*/
 .main_messageAndRemove{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F0440A;
    padding: 10px;
    border-radius: 10px;
    width: auto;
    margin: 10px;
 }

 .main_messageAndRemove p{
    color: #d4cbcb;
    font-size: 16px;
    font-weight: 400;
 }

 .main_messageAndRemove i{
    background-color: #A4A4A4;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
 }
/*=$=________///////////////__==Контејнер шо ќе ги содржи испишаните пораки и копчето за бришење на истите==__\\\\\\\\\\\\\\\________=$=*/